#content
{
    width: 400px;
    height: 400px;
    border-radius: 5%;
    margin-left: 37%;
    background-color: antiquewhite;
}
h2
{
    text-align: center;
    color: #fff;
    background-color: #f2ab1e;
    padding: 10%;
}
h3
{
    text-align: center;
    color: #fff;
    background-color: #f2ab1e;
    padding: 1%;
}
#form
{
    text-align: center;
    margin: 5%;
}
#btn_send 
{
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ded17c;
    margin-top: 5%;
}
#result
{
    text-align: center;
    width: 20.6%;
    margin-left: 37.2%;
    margin-top: -6%;
    border-radius: 5%; 
    background-color: #f2ab1e;
}