body
{
    width: 500px;
    height: 500px;
    margin-left: 38%;
}
#content
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: white;
}
#row
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
.btn
{
    background-color: darkgrey;
    outline: solid white;
}
.btn_2
{
    background-color: gray;
    outline: solid white;
}
h2
{
    background-color: gray;
    color: white;
    font-size: x-large;
    padding: 3%;
    text-align: right;
}
h3
{
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 5%;
}